html,
body {
  min-height: 100%;
}

body {
  background-color: #0C1824 !important
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}


.fade-in {
  opacity: 0; /* Start with text invisible */
  transform: translateY(10px); /* Start with a slight upward translation */
  animation: fadeInAnimation .5s ease-in-out forwards; /* Use the fadeInAnimation animation */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Start with 0 opacity */
    transform: translateY(10px); /* Start with a slight upward translation */
  }
  to {
    opacity: 1; /* End with full opacity */
    transform: translateY(0); /* End with no vertical translation (back in place) */
  }
}
